/* ============================================ */
/* ヘッダーcss↓ */
/* @include Query.respons('sp') */
/* @include Query.respons('tab') */
/* ============================================ */
@use '../base/variable' as variable;
@use '../base/mediaQuery' as Query;

#FOOTER{
    .main{
    padding: 60px 0;
    align-items: center;
        .left{
        row-gap: 56px;
        display: flex;
        flex-direction: column;
            h3 a{
            width: 241px;
            display: block;
            }
            .address_container{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
                .address_box{
                    h4{
                    font-size: variable.$fs-minititle;
                    margin-bottom: 12px;
                    font-weight: 600;
                    }
                    p{
                    font-weight: 100;
                    line-height: 158%;
                    font-size: variable.$fs-main;
                    }
                }
            }
            .privacy_button{
            font-size: variable.$fs-main;
            width: 195px;
            transition: all 0.3s ease;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
                i{
                transition: all 0.3s ease;
                font-size: variable.$fs-minititle;
                }
                &:hover{
                    i{
                    margin-right: -8px;
                    transition: all 0.3s ease;
                    }
                }
            }
        }
        .right{
        display: flex;
        justify-content: space-between;
        column-gap: 44px;
            .footer_button_container{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            width: 185px;
                .page_buttons{
                display: flex;
                flex-direction: column;
                row-gap: 11px;
                width: 100%;
                    .page_button{
                    font-size: variable.$fs-minititle;
                    transition: all 0.3s ease;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #E0E0E0;
                    color: variable.$cl-navy;
                    width: 100%;
                    padding: 13px 0px;
                    margin-bottom: 6px;
                        i{
                        transition: all 0.3s ease;
                        font-size: variable.$fs-minititle;
                        margin-right: 4px;
                        }
                        &:hover{
                        border-bottom: 1px solid variable.$cl-navy;
                            i{
                            margin-right: 12px;
                            transition: all 0.3s ease;
                            }
                        }
                    }
                    .section_name{
                    font-size: variable.$fs-main;
                    display: flex;
                    align-items: center;
                    line-height: 141%;
                    letter-spacing: 0px;
                        &::before{
                        content: '';
                        display: block;
                        width: 7px;
                        height: 1px;
                        margin-right: 8px;
                        background-color: #323232;
                        }
                    }
                }
                &.right_right{
                row-gap: 15px;
                }
            }
        }
    }
    .bottom{
    width: 100%;
    padding: 43px 0;
    text-align: center;
    font-weight: 100;
    font-size: variable.$fs-minititle;
    border-top: 1px solid #E0E0E0;
    color: #323232;
    }
}